kms:
  addr: "127.0.0.1:50051"

auth:
  bearerToken: ""  # optional; normally you set KMS_BEARER_TOKEN via env after Login

sourceDB:
  driver: "mysql"
  dsn: "user:password@tcp(localhost:3306)/abmb_dwh_pan"

destDB:
  driver: "mysql"
  dsn: "user:password@tcp(localhost:3306)/kms_db"


